<%- include('./partials/header.ejs'); %>
<hr>
  <div>
    <!-- <code>app.get('/protectedRoute') @protectedRoute.ejs</code> -->
  </div>
  <div>
  </div>
  <div>

<!-- if room is empty, print error message 403 -->
<% if (!chatroom) { %>
  <div class="container">
    <h1>403 Forbidden</h1>
    <p>You do not belong to this chatroom.</p>
    <button class="btn btn-outline-dark" value="Back" onclick="history.back()">Back</button>
    <button class="btn btn-outline-dark" value="Home" onclick="window.location.href='/'">Home</button>
  </div>
<% } %>


<div>
  <p>Welcome, <strong><%= username %></strong>!<button class=" ms-3 btn btn-outline-dark" value="Logout" onclick="window.location.href='/logout'">Logout</button></p>
</div>
<div>
  <button id="inviteUsersBtn" class="btn btn-outline-dark">Invite Users</button>
</div>

<!-- <button class="btn btn-outline-dark" value="Logout" onclick="window.location.href='/logout'">Logout</button> -->
<div class="container my-4 w-50">

    <div class="text-center border mb-5">
      <div><h2>"<%= chatroom.name %>"</h2>[chat room id: <%= chatroom.room_id %>]</div>
    </div>

 
    <% messages.forEach(function(message){ %>
      <% if (message.username === username) { %>
        <div class="d-flex flex-column justify-content-end">
          <div class="ms-1 text-end"><strong><%= message.username %></strong></div>
          <div class="offset-md-8 border p-2 justify-content-end">
            <div class="text-end"><%= message.text %></div>
          </div>
          <div class="offset-md-3 text-end"><small><em><%= message.sent_datetime %></em></small></div>
        </div>
      <% } else { %>
      <div>
        <div class="ms-1"><strong><%= message.username %></strong></div>
      <div class="col-sm-4 border p-2">
        <div><%= message.text %></div>
      </div>
      <div class="col-sm-4 text-end"><small><em><%= message.sent_datetime %></em></small></div>
    </div>
      <br>
      <% } %>
    <% }); %>
  <hr>
  <form action="/postMessage" method="POST">
    <label for="message">Enter your message:</label><br>
    <input type="text" id="text" name="text">
    <button type="submit">Send</button>
    <input type="hidden" name="room_user_id" value="<%= session_room_user_id %>">
    <input type="hidden" name="room_id" value="<%= chatroom.room_id %>">
  </form>
</div>

<br>
<br>
<hr>
<!-- Popup Dialogue Box for Inviting Users -->
<div id="inviteUsersPopup" class="modal">
  <div class="modal-content p-5">
    <span class="close">&times;</span>
       <div>
      <form id="inviteForm" action="/inviteUsers" method="POST">
        <h2>Select Users to Invite:</h2>
        <% availableUsers.forEach(function(user) { %>
          <input type="checkbox" name="selectedUserIDs" value="<%-  user.user_id %>"> <%= user.username %> <br>
        <% }); %>
        <input type="hidden" name="room_id" value="<%- chatroom.room_id %>">
        <br />
        <button type="submit">Submit Invite</button>
      </form>
    </div>
  </div>
</div>

<script>
  // JavaScript code to handle invite button click and popup model
  document.addEventListener('DOMContentLoaded', function() {
    const inviteUsersBtn = document.getElementById('inviteUsersBtn');
    const invitePopup = document.getElementById('inviteUsersPopup');
    const closeButton = invitePopup.querySelector('.close');

    inviteUsersBtn.addEventListener('click', function() {
      invitePopup.style.display = 'block';
    });

    closeButton.addEventListener('click', function() {
      invitePopup.style.display = 'none';
    });

    window.addEventListener('click', function(event) {
      if (event.target === invitePopup) {
        invitePopup.style.display = 'none';
      }
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    window.scrollTo(0, document.body.scrollHeight);
  });
</script>
<%- include('./partials/footer.ejs'); %>